<template>
    <div v-if="turn.uuid">
        <p>Statut du tour : {{ turn.status }}</p>
        <h1>Personnes</h1>
        <ul>
            <li v-for="person in turn.personCards" :key="person.rank">
                {{ person.personCard.person }} 
            </li>
        </ul>
        <h1>Personne à trouver</h1>
        <p>Vous devez faire deviner : <strong>{{  turn.personToFind.person }}</strong><br>
        Plus vous pensez que la phrase correspond à la personne à faire deviner, plus il faut mettre une valeur élevée<br>
        Inversement mois la phrase correspond plus il faut mettre une valeur basse.</p>
        <p>Phrases</p>
        <div id="choices">
            <ul>
                <li v-for="phrase in turn.phraseCards" :key="phrase.rank">
                    {{ phrase.phraseCard.phrase }}
                    <select v-if="turn.status == 'INIT'" class="form-control" @change="choose(phrase.rank, $event)">
                        <option v-for="i in availableChoices" :value="i">{{ i }}</option>
                    </select>
                </li>
            </ul>
        </div>
        <b-button variant="primary" @click="validateChoices" v-if="turn.status == 'INIT'" :disabled="validateChoicesClicked">Valider</b-button>

        <div v-if="turn.status != 'INIT'">
            <h1>Détails des joueurs</h1>
            <ul>
                <li v-for="playerTurn in turn.playerTurnChoices">
                    Mail : {{ playerTurn.player.email }} - Choices : {{ playerTurn.choices }} - Score : {{ playerTurn.score }}
                </li>
            </ul>
            <b-button v-if="turn.status == 'STARTED'" variant="primary" @click="endTurn" :disabled="endTurnClicked">Terminer le tour</b-button>
        </div>
        
        <router-link :to="{ name: 'editgame', params: { id: this.$route.params.gameid } }">Retour vers la partie</router-link>
    </div>
</template>

<script>
    import Vue from 'vue'
    import LodashForVue from 'lodash-for-vue'
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    Vue.use(LodashForVue)
    
    export default {
        data() {
          return {
              turn: {},
              choices: ["-5", "-5"],
              availableChoices: this.$lodash.range(-5, 6),
              endTurnClicked: false,
              validateChoicesClicked: false
          }  
        },
        methods: {
          validateChoices() {
              if(this.choices.length == 2) {
                  this.validateChoicesClicked = true;
                  let formParams = {choice1 : this.choices[0], choice2: this.choices[1]};
                  console.log(formParams);
                  this.$http.post('games/' + this.$route.params.gameid + '/turns/' + this.$route.params.turnid, formParams).then(response => {
                            this.$router.push({ name: 'editgame', params: {id: this.$route.params.gameid}});  
                      });
              }
          },
          choose(rank,event){
              this.choices[rank - 1] = event.target.value;
          },
          endTurn() {
                this.endTurnClicked = true;
                this.$http.get('games/' +this.$route.params.gameid + "/turns/" + this.$route.params.turnid + "/end").then(response => {
                              return response.json();// ici on a une promesse aussi
                          })
                          .then(data => {
                              this.turn = data;
                              console.log(this.turn);
                          });
          }
        },
        created() {
            this.$http.get('games/' +this.$route.params.gameid + "/turns/" + this.$route.params.turnid).then(response => {
                    return response.json();// ici on a une promesse aussi
                })
                .then(data => {
                        this.turn = data;
                        console.log(this.turn);
                });
        }
    }    
</script>