<template>
    <div v-if="game != null">
        <h1>Edition de la partie</h1>
        <p>Statut: {{ game.status}}</p>
        <div>Joueurs : 
            <ul>
                <li v-for="player in game.players">
                    {{ player.email}}
                </li>
            </ul>
        </div>
        <div>Tours :
            <ul>
                <li v-for="turn in game.turns">
                    Tour n°{{turn.number}}
                    <b-button variant="primary" @click="showTurn(turn.uuid)">
                        {{ turn.status =='INIT' ? 'Jouer' : 'Voir' }}
                    </b-button>
                </li>
            </ul>
        </div>
        <b-button variant="primary" @click="start" v-if="!isStarted" :disabled="newGameClicked">Start</b-button>
        <b-button variant="primary" @click="startNewTurn" v-if="canEndGame" :disabled="newTurnClicked">Démarrer un nouveau tour</b-button>
        <b-button variant="danger" @click="endGame" v-if="canEndGame" :disabled="endGameClicked">Arrêter la partie</b-button>
    </div>
</template>

<script>
    import 'bootstrap/dist/css/bootstrap.css';
    import 'bootstrap-vue/dist/bootstrap-vue.css';
    
    export default {
        data() {
            return {
                game: {
                    status: 'LOADING',
                    turns: []
                },
                newTurnClicked: false,
                newGameClicked: false,
                endGameClicked: false
            };
        },
        computed: {
            isStarted() {
                return this.game.status != 'CREATED';
            },
            isFinished() {
                return this.game.status == 'FINISHED';
            },
            canEndGame() {
                if(!this.isStarted){
                    return false;
                }
                if(this.isFinished){
                    return false;
                }
                let endGamePossible = this.game.turns.length != 0;
                for(let i = 0; i < this.game.turns.length; i++) {
                    let turn = this.game.turns[i];
                    if(turn.status != 'FINISHED'){
                        console.log(turn.status);
                        endGamePossible = false;
                    }
                }
                return endGamePossible;
            }
        },
        methods: {
            start() {
                this.newGameClicked = true;
                this.$http.get('games/' + this.game.uuid + "/start")
                            .then(response => {
                                return response.json();// ici on a une promesse aussi
                            })
                            .then(data => {
                                this.$router.push({ name: 'turn', params: {gameid: data.gameid, turnid: data.turnid}});
                            });
            },
            showTurn(turnUuid) {
                this.$router.push({ name: 'turn', params: {gameid: this.game.uuid, turnid: turnUuid}});
            },
            startNewTurn() {
                this.newTurnClicked = true;
                this.$http.get('games/' +this.$route.params.id + '/newTurn').then(response => {
                                return response.json();// ici on a une promesse aussi
                            })
                            .then(data => {
                                this.game = data;
                            });
            },
            endGame() {
                this.endGameClicked = true;
                this.$http.get('games/' +this.$route.params.id + '/end').then(response => {
                                return response.json();// ici on a une promesse aussi
                            })
                            .then(data => {
                                this.game = data;
                            });
            }
        },
        created(){
            this.$http.get('games/' +this.$route.params.id)
                        .then(response => {
                            return response.json();// ici on a une promesse aussi
                        })
                        .then(data => {
                            this.game = data;
                        });
        }
    }
</script>