<template>
    <div>
        <p>Bienvenue !</p>
        <p>
            Profiler est un jeu de Romaric Galonnier, édité par Cocktail Games.
        </p>
        <h2>Les règles</h2>
        <h3>La phase du profiler</h3>
        <div>
            Un joueur joue le rôle du profiler. Parmi 6 cartes il doit faire deviner aux autres joueurs une de ces cartes 
            désignée au hasard.<br/>
            Par exemple il y a les 6 personnage suivants :
            <ul>
                <li>Adam</li>
                <li>Adriana Karembeu</li>
                <li>Aladdin</li>
                <li>Albert Einstein</li>
                <li>Angela Merkel</li>
                <li>Angelina Jolie</li>
                <li>Barack Obama</li>
            </ul>
            Parmi ces personnages il doit faire deviner Angela Merkel.<br>
            Pour cela il donne deux indices par rapport à 2 phrases tirées au sort. Par exemple : 
            <ul>
                <li>Parle plusieurs langues</li>
                <li>Serait finaliste à "Koh-Lanta"</li>
            </ul>
            Il doit associer une valeur entre -5 et +5 à chaque phrase. <br>
            Dans notre exemple il met +4 à la phrase "parle plusieurs langues", ce qui siginifie que pour lui cette phrase correspond complétement à la personne à faire deviner.<br>
            A la seconde phrase "Serait finaliste à "Koh-Lanta" il met -5, car il ne voit pas du tout Angela Merkel à Koh Lanta, encore moins finaliste.
        </div>
        <h3>La phase des autres joueurs</h3>
        <div>
            Chaque joueur va classer les cartes dans l'ordre d'élimination. Le but étant d'éliminer en dernier la carte que l'on pense être celle désignée par le profiler.<br>
            On marque un point par bonne réponse.
        </div>
        <div class="alert alert-info" role="alert" v-if="canStartNewGame">
            <router-link
                    tag="button"
                    class="btn btn-primary"
                    :to="{ name: 'newgame' }">Créer une nouvelle partie</router-link>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            readonlygame: null,
            canStartNewGame: false
        }
    },
    created: function () {
        this.$http.get('games/cancreate')
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        if(data != undefined){
                            this.readonlygame = data;
                        }
                        console.log(this.readonlygame);
                        if(this.readonlygame != null) {
                            this.canStartNewGame = this.readonlygame.status == 'FINISHED';
                        } else {
                            this.canStartNewGame = true;
                        }
                    });
    }
}
</script>