<template>
    <div>
        <div class="form-group">
            <div class="input" :class="{invalid: $v.mailsJoueurs.$error}">
                <label for="exampleFormControlTextarea1">List of players (mails, separated by a semicolon)</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="mailsJoueurs" @input="$v.mailsJoueurs.$touch()"></textarea>
                <p v-if="!$v.mailsJoueurs.required">Adresse mail des joueurs obligatoire</p>
            </div>
            <div class="input" :class="{invalid: $v.adminEmail.$error}">
                <label for="adminEmail">Admin email</label>
                <input id="adminEmail" class="form-control" v-model="adminEmail" @input="$v.adminEmail.$touch()">
                <p v-if="!$v.adminEmail.email">Adresse mail invalide</p>
                <p v-if="!$v.adminEmail.required">Adresse mail obligatoire</p>
            </div>
            <!--
            log du validator
            <div>{{ $v }}</div>
            -->
        </div>
        <b-button variant="primary" @click="create" :disabled="$v.$invalid || newGameClicked">Create Game</b-button>
    </div>
</template>

<script>
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'
    import { required, email } from 'vuelidate/lib/validators'
    
    export default {
        data() {
            return {
                mailsJoueurs: "",
                adminEmail: "",
                newGameClicked: false
            }
        },
        validations: {
            adminEmail: {
                required,
                email
            },
            mailsJoueurs: {
                required
            }
        },
        methods: {
            create() {
                this.newGameClicked = true;
                let formParams = {mailsJoueurs: this.mailsJoueurs, adminEmail: this.adminEmail };
                this.$http.post('games/create', formParams)
                    .then(response => {
                        return response.json();
                    })
                    .then(data => {
                        console.log("traiter les données retournées");
                        console.log(data);
                        this.$router.push({ name: 'editgame', params: {id: data.uuid}});
                    });
            }
        }
    }
</script>

<style scoped>
    .input.invalid input {
        border: 1px solid red;
        background-color: #ffc9aa;
    }
    
</style>