<template>
    <div>
        <div v-if="!submitDone">
            <h1>Phrases</h1>
            <p>
                Plus l'évaluation d'une phrase est négative, moins la personne à trouver correspond à cette description.<br>
                Inversement, plus l'évaluation est positive, plus elle correspond à la phrase.
            </p>
            <ul>
                <li v-for="phrase in turnInfos.phraseCards" :key="phrase.rank">
                    {{ phrase.phraseCard.phrase }} - Evaluation : {{ phrase.rank == 1 ? turnInfos.firstPhraseChoice : turnInfos.secondPhraseChoice }}
    
                </li>
            </ul>
            <h1>Liste des personnes</h1>
            <p>Trier les personnes dans l'odre d'élimination.</p>
            <p>Placez donc en premier la personne qui correspond <strong>le moins</strong> aux critères et en dernier celle qui correspond <strong>le plus</strong></p>
            <div class="row">
                <draggable :list="turnInfos.personCards" class="dragArea" :options="{ghostClass: 'ghost'}">
                        <div class="col-sm-12 person" v-for="person in turnInfos.personCards">Identifiant : {{ person.rank }}, Personne :  {{ person.personCard.person }}</div>
                </draggable>
            </div>
            <b-button variant="primary" @click="validate" :disabled="validateClicked">Validate</b-button>
        </div>
        <div v-if="submitDone">
            Ok, il n'y a plus qu'à attendre les résultats !
        </div>

    </div>
</template>

<script>
    import Vue from 'vue';
    import LodashForVue from 'lodash-for-vue';
    import Draggable from 'vuedraggable';
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    Vue.use(LodashForVue)
    export default {
        components: {
            Draggable
        },
        data() {
            return {
                turnInfos: {},
                myOrder: "",
                submitDone: false,
                availableChoices: this.$lodash.range(1,6)
            }
        },
        methods: {
          validate() {
              let choices = _.map(this.turnInfos.personCards, function(personCard){
                    return new String(personCard.rank);
              });
              let choicesAsString = _.reduce(choices, function(acc, newElem) {
                  return acc + " " + newElem;
              });
              let formParams = {choices : choicesAsString};
              this.validateClicked = true;
              this.$http.post('play/' + this.$route.params.id, formParams).then(response => {
                            this.submitDone = true;
                          });
          }  
        },
        created() {
            this.$http.get('play/' +this.$route.params.id).then(response => {
                            return response.json();// ici on a une promesse aussi
                        })
                        .then(data => {
                            this.turnInfos = data;
                        });
        }
    }
</script>

<style scoped>
    .person {
        border: solid;
        margin: 10px;
        padding:10px;
        cursor: move;
        border-radius: 10px;
    }

    /* ghostClass */
    .ghost {
        opacity: .5;
        background: #CCCCCC;
    }
</style>