<template>
    <div v-if="game != null">
        <h1>Classement général</h1>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Joueur</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="playerRank in game.ranking.playerRanks">
                    <td>{{ playerRank.player.email }}</td>
                    <td>{{ playerRank.gameScore }}</td>
                </tr>
            </tbody>
        </table>
        <h1>Détail des tours terminés</h1>
        <div>
            <b-tabs>
                <b-tab v-for="(turn, turnIndex) in game.turns" :key="turn.number" :title="'Tourn°' + turn.number" :active="turn.number == '1'">
                    <h2>Classement</h2>
                    <table class="table table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th>Joueur</th>
                            <th>Score</th>
                            <th>Choix</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(playerChoices, playerIndex) in turn.playerTurnChoices" :key="playerChoices.player.email">
                            <td>{{ playerChoices.player.email }}</td>
                            <td>{{ playerChoices.score }}</td>
                            <td>
                                <!--<span class="choices">{{ playerChoices.choices }}</span>-->
                                <span :id="'turn' + turnIndex + 'player' + playerIndex" class="ion-clipboard"></span>
                                <b-tooltip :target="'turn' + turnIndex + 'player' + playerIndex">
                                    <div v-html="getTitle(playerChoices)"></div>
                                </b-tooltip>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <h2>Setup</h2>
                    <h4>Les 6 cartes aux choix étaient</h4>
                    <p>En rouge la personne désignée par le profiler</p>
                    <ol>
                        <li v-for="(personCard, index) in turn.personCards">
                            <span :style="personCard.personCard.person == turn.personToFind.person ? styleForPersonToFind : null">{{ personCard.personCard.person }}</span>
                        </li>
                    </ol>
                    <h4>Les 2 phrases étaient : </h4>
                    <ul>
                        <li v-for="(phraseCard, index) in turn.phraseCards">
                            {{ phraseCard.phraseCard.phrase }} - Evaluation du profiler : {{ index == 0 ?turn.firstPhraseChoice : turn.secondPhraseChoice}}
                        </li>
                    </ul>
                </b-tab>
            </b-tabs>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue';
    import LodashForVue from 'lodash-for-vue';
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'

    Vue.use(LodashForVue)
    
    export default {
        data() {
            return {
                game: null,
                styleForPersonToFind: {
                    color: 'red',
                    fontWeight: 'bold'
                }
            }  
        },
        methods: {
            getTitle(playerChoices) {
                return _.join(playerChoices.choicesAsPersonCards, '<br>');
            }
        },
        created() {
            this.$http.get('games/readonly/' + this.$route.params.id).then(response => {
                        return response.json();// ici on a une promesse aussi
                    })
                    .then(data => {
                            this.game = data;
                    });
        }
    }

</script>