<template>
    <div id="app" class="container" style="max-width: 960px;">
        <div class="py-1 text-center" id="header">
            <img src="./assets/profiler.jpg">
        </div> 
        <div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    }
}
</script>

<style scoped>
    #header {
        background-color: #CE4466;
    }
</style>
